a[href^="/categories/"] span {
    border-color: #63e2ff !important;
    color: #007278 !important;
}

html.dark {
    a[href^="/categories/"] span {
        border-color: #007278 !important;
        color: #63e2ff !important;
    }
}

@media (min-width: 1024px) {
        section.lg\:flex-row>div.min-w-0 {
            flex-basis: 70%;
        }

        section.lg\:flex-row>div.lg\:order-last {
            flex-basis: 30%;
        }

        .article-content {
            max-width: none !important;
        }
    }
    .article-content {
        max-width: none !important;
    }

.chroma {
    white-space: pre-wrap !important;
    word-break: break-all !important;
}